table, th, td {
    border: 1px solid black;
}
/*
th, td {
    width: 75px;
    height: 20px;
}

input {
    width: 75px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    th, td {
        width: 20px;
        height: 20px;
    }

    input {
        width: 20px;
    }
}
*/

#military {
    background-color: red;
}

#coinImg {
    width: 80px;
    height: 80px;
}

#stagesImg {
    width: 80px;
    height: 80px;
}

#civStructs {
    background-color: royalblue;
}

#comStructs {
    background-color: yellow;
}

#guilds {
    background-color: purple;
}

#science {
    background-color: green;
}

.playerInputTd {
    text-align: center;
    vertical-align: middle;
}

.playerTotal {
    text-align: center;
}