html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

#flexBox {
    display: flex;
    height: 100%;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    background-color: tan;
    height: 50%;
    width: 100%;
}

#scoreCategoryColumn {
    width: 100px;
}

.cell {
    border: solid #000000;
    padding: 5px;
    min-width: 15px;
    height: 50%;
    width: 100%;
}

.cell input {
    height: 100%;
    width: 50%;
}

#Military {
    background-color: red;
}

#Coins {
    background-color: gold;
}

#Stages {
    background-color: tan;
}

#Civilian_Structures {
    background-color: royalblue;
}

#Commercial_Structures {
    background-color: yellow;
}

#Guilds {
    background-color: purple;
}

#Science {
    background-color: green;
}

/* table, th, td {
    border: 1px solid black;
}

#military {
    background-color: red;
}

#coinImg {
    width: 80px;
    height: 80px;
}

#stagesImg {
    width: 80px;
    height: 80px;
}

#civStructs {
    background-color: royalblue;
}

#comStructs {
    background-color: yellow;
}

#guilds {
    background-color: purple;
}

#science {
    background-color: green;
}

.playerInputTd {
    text-align: center;
    vertical-align: middle;
}

.playerTotal {
    text-align: center;
} */